backoff==1.11.1
boto3==1.16.63
botocore==1.19.63
CacheControl==0.12.6
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.2
confuse==1.4.0
firebase-admin==5.0.3
google-api-core==2.0.1
google-api-python-client==2.22.0
google-auth==2.2.0
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.3
google-cloud-storage==1.42.2
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grpcio==1.41.0
guppy3==3.1.1
httplib2==0.19.1
idna==3.2
jmespath==0.10.0
msgpack==1.0.2
packaging==21.0
proto-plus==1.19.0
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.10.1
pyparsing==2.4.7
python-amazon-sp-api==0.6.2
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.3.7
six==1.15.0
uritemplate==3.0.1
urllib3==1.26.6
